@{
    ViewData["Title"] = "Gen Code V3";
    Layout = "_Layout";
}

<div class="container" style="margin-top: 73px;">
    <main role="main" class="pb-3" style="height: calc(100vh - 57px - 76px)">
        @RenderBody()
    </main>
</div>