


<div id="request-wrap" style="position: absolute; top: 0; left: 0; right: 0">
    <div>
        <div id="request-content-wrap" class="w-100 h-0" style="height: 80vh; background: #a39c9c; width: 100%;">
            <div class="container h-100">
                <div id="input-wrap" class=" row w-100 h-100 p-4 d-none">
                    <div class="col-4 h-90" style="display: flex; justify-content: end; flex-direction: column">
                        <div class="toolbar-right" style="padding-bottom: 16px">
                            <b style="font-size: 24px;">Model Index</b>
                        </div>
                        <textarea class="form-control w-100 h-100" style="flex: 1"></textarea>
                    </div>

                    <div class="col-4 h-90" style="display: flex; justify-content: end; flex-direction: column">
                        <div class="toolbar-right" style="padding-bottom: 16px">
                            <b style="font-size: 24px;">Model Form</b>
                        </div>
                        <textarea class="form-control w-100 h-100" style="flex: 1"></textarea>
                    </div>

                    <div class="col-4 h-90" style="display: flex; justify-content: end; flex-direction: column">
                        <div class="toolbar-right" style="padding-bottom: 16px">
                            <b style="font-size: 24px;">Model Option</b>
                        </div>
                        <textarea class="form-control w-100 h-100" style="flex: 1"></textarea>
                    </div>
                    <div class="w-100">
                        <button class="btn btn-success" style="float: right" onclick="toggleRequestWrap()">Gen Code</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="request-content" style="position: absolute; top: 100%; right: 150px;">
            <div class="triangle-container" onclick="toggleRequestWrap()">
                <div class="triangle-down"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleRequestWrap() {
        $("#request-content-wrap").toggleClass("h-0")
        $("#input-wrap").toggleClass("d-none")
    }
</script>

<style>
    #request-content-wrap{
        transition: height 0.5s ease;
    }

    .h-90 {
        height: 90% !important;
    }

    .h-0 {
        height: 16px !important;
    }

    .triangle-container {
        position: relative;
        cursor: pointer;
        width: 0;
        height: 0;
    }

    .triangle-down {
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 30px solid #007bff;
        position: relative;
    }

        .triangle-down::before {
            content: '';
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: 60px; /* Same as the width of the triangle base */
            height: 30px; /* Same as the height of the triangle */
            background-color: #007bff;
            border-radius: 0 0 50% 50%;
        }
</style>