


<div id="response-wrap" style="display: flex; height: calc(100vh - 60px);">
    <div class="left-response" style=" height: 100%; width: 200px; padding: 16px;">
        
    </div>

    <div class="right-response" style="flex: 1; height: 100%; background: #ebebeb; padding: 32px;">
        <div style="display: flex; flex-direction: column; height: 100%">
            <div class="toolbar-right" style="display: flex; justify-content: end; padding: 16px">
                <button class="btn btn-success">Copy</button>
            </div>
            <div class="content-right-text" style="flex: 1">
                <textarea class="form-control w-100 h-100"></textarea>
            </div>
        </div>
    </div>
</div>