@{
    ViewData["Title"] = "Gen Code V3";
    Layout = "_Layout.Ts";
}

@await Html.PartialAsync("_RequestWrap")
@await Html.PartialAsync("_ResponseWrap")

<script>
    var responseGolbal = [];

    // request
    function sendRequestGenCode() {
        var indexModel = $("#index_model").val()
        var formModel = $("#form_model").val()
        var optionModel = $("#option_model").val()
        responseGolbal = []
        cleanTreeFile()

        if (indexModel.trim() == "") {
            // alert("Chưa điền nội dung code C#")
            onShowToast("Chưa điền nội dung code C#")
            return
        }

        $.ajax({
            url: "GenCodeTs/GenCode",
            method: "POST",
            data: {
    @(nameof(GenCodeTsRequest.IndexModel)): indexModel,
    @(nameof(GenCodeTsRequest.FormModel)): formModel,
    @(nameof(GenCodeTsRequest.OptionModel)): optionModel
                },
    success: (res) => {
        responseGolbal = res
        genFormsModel(res.listFileForm)
        genFileModel(res.listFileModel)
        toggleRequestWrap()
        activeFileResFirst()
    },
        error: (err) => {
            onShowToast(err)
            console.log(err)
        }
            })
        }
    // <li><span class="file" > File 1.1 < /span></li >
    function genFileModel(listFileModel) {
        if (listFileModel) {
            listFileModel.forEach(x => {
                $("#model-file-wrap").append(`<li><span class="file" data-file-name="${x.fileName}"> ${x.fileName} </span></li >`)
            })
        }
    }

    function genFormsModel(listFileModel) {
        if (listFileModel) {
            listFileModel.forEach(x => {
                $("#forms-file-wrap").append(`<li><span class="file" data-file-name="${x.fileName}"> ${x.fileName} </span></li >`)
            })
        }
    }
</script>
@* test *@
<script>
    $("#index_model").val(`namespace FastLink.V3.Operation.Services
    {
        public class SupermarketInventoryByStallsReportModel
        {
            public string MaSanPhamCha { get; set; }

            public string MaHang { get; set; }
            public string MaSanPham { get; set; }

            public string MaSpNsx { get; set; }
            public string TenHang { get; set; }

            public string TenSanPham { get; set; }
            public string DonViTinh { get; set; }

            public string MaDonViTinh { get; set; }
            public string MaNhaCungCap { get; set; }
            public string TenNhaCungCap { get; set; }

            public decimal SoLuongTonDauKy { get; set; }
            public decimal ThanhTienTonDauKy { get; set; }
            public decimal SoLuongNhapKho { get; set; }
            public decimal ThanhTienNhap { get; set; }
            public decimal SoLuongXuatKho { get; set; }
            public decimal ThanhTienXuat { get; set; }
            public decimal SoLuongTonCuoiKy { get; set; }
            public decimal ThanhTienTonCuoiKy { get; set; }
            public decimal SoLuongKiemDem { get; set; }
            public decimal ThanhTienKiemDem { get; set; }

            public string NhomSanPham { get; set; }
            public string NhomSanPhamChiTiet { get; set; }
            public string Stalls { get; set; }
            public string MaNhomSanPham { get; set; }
        }
    }
    `)
    $("#form_model").val(`using System;

    namespace FastLink.V3.Operation.Services
    {
        public class SupermarketInventoryByStallsReportSearchModel
        {
            public DateTime FromDate { get; set; }

            public DateTime ToDate { get; set; }

            public string MaKhoHang { get; set; }
        }
    }
    `)
    $("#option_model").val(`public class GenCodeTsFileResponse
        {
            public string FileName { get; set; }

            public string Content { get; set; }

            public StringAsLookupItem Content1 { get; set; }

            public List<StringAsLookupItem> Content2 { get; set; }
        }`)
</script>