@{
    ViewData["Title"] = "Gen Code V3";
    Layout = "_Layout.Ts";
}

@await Html.PartialAsync("_RequestWrap")
@await Html.PartialAsync("_ResponseWrap")

<script>
    var responseGolbal = [];

    // request
    function sendRequestGenCode() {
        var indexModel = $("#index_model").val()
        var formModel = $("#form_model").val()
        var optionModel = $("#option_model").val()
        responseGolbal = []
        cleanTreeFile()

        if (indexModel.trim() == "") {
            // alert("Chưa điền nội dung code C#")
            onShowToast("Chưa điền nội dung code C#")
            return
        }

        $.ajax({
            url: "GenCodeTs/GenCode",
            method: "POST",
            data: {
                @(nameof(GenCodeTsRequest.IndexModel)): indexModel,
                @(nameof(GenCodeTsRequest.FormModel)): formModel,
                @(nameof(GenCodeTsRequest.OptionModel)): optionModel
            },
            success: (res) => {
                responseGolbal = res
                genFileModel(res.listFileModel)
                toggleRequestWrap()
                activeFileResFirst()
            },
            error: (err) => {
                onShowToast(err)
                console.log(err)
            }
        })
    }
    // <li><span class="file" > File 1.1 < /span></li >
    function genFileModel(listFileModel){
        if (listFileModel) {
            listFileModel.forEach(x => {
                $("#model-file-wrap").append(`<li><span class="file" data-file-name="${x.fileName}"> ${x.fileName} </span></li >`)
            })
        }
    }
</script>